# Ignore data files (keeps your repo lightweight)
data/*.txt
data/*.csv
data/*.zip

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments (if you use one)
venv/
env/